@import "tailwindcss";
@import "tw-animate-css";

@plugin "@iconify/tailwind4";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: all;
};

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #5092d4;
  --color-secondary: #bfd7f1;
  --color-accent: #76b9ef;
  /* 自定义字体在 App.vue 中加载 */
  --font-sans: '"LXGW", "Microsoft YaHei", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'; 
}

@font-face {
  font-family: "LXGW";
  src: url("/fonts/LXGWBright-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Harmony";
  src: url("/fonts/HarmonyOS_Sans_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}

// 关于 shadcn 的主题, 请进入组件内部通过 style 设置 css 变量
